body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
}
.k{
  text-align: left;
  display: inline-block;
}
.j{
  display: inline-block;
  margin-bottom: 10px;
}
  
  h1 {
    font-size: 2em;
    margin-top: 0.5px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 20px;
    align-content: left;
  }
  .form-group1{
    margin-top: 10px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-top:  5px; ;
    margin-bottom: 5px;
    text-align: start;
  }
  
  input,
  button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
  }
  
  input {
    box-sizing: border-box;
    
  }
  
  button {
    background-color: #f0c14b;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e0b13b;
  }
  
  .links a {
    color: #0066cc;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  .copyright {
    margin-top: 30px;
    font-size: 0.8em;
    color: #666;
  }